# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
